<h1>{{header}}</h1>

{{#if gameName}}
	<h3>Search: {{gameName}}</h3>
{{/if}}


{{#if games}}
    {{#each games}}
        <table>
            <tr>
                <td>Name:</td>
                <td><a href={{url}} target="_blank"<td>{{name}}</td></a>
            </tr>
            <tr>
                <td>Rank:</td>
                <td>{{borga_rank}}</td>
            </tr>
            <tr>
                <td>Price:</td>
                <td>{{price}} $</td>
            </tr>
            
             <tr>
                 <td>
                    <form>
                        <button id="remove-button" type="submit" formaction="/games/{{id}}">
                            <i class="bi bi-info-circle bi-hover"></i>
                        </button>
                    </form> 
                </td>
                <td> 
                    <form action='/groups/selection' method='POST'>
                        <input type='hidden' name='gameID' value='{{id}}'>
                        <button id="remove-button" type="submit">
                            <i class="bi bi-plus-circle bi-hover"></i>
                        </button>
                    </form>
                </td>
            </tr> 
        </table>
        <hr>
    {{/each}}
{{/if}}

