<h1> Group Selection </h1>

<form action='/groups/{{gameID}}', method="POST">
    {{#each groups}}
        <input type="radio" id={{id}} name="groupSelected" value={{id}}>
        <label for={{id}}>{{name}}</label>
        <hr>
    {{/each}}
    <br><br>
    <input type='submit' value='Select'>
</form> 

