

{{#if noGroups}}
    <h1>No groups</h1>
{{else}}
    <h1>My Groups</h1>
    <ul class="ulist">
        {{#each groups}}
            <li class="list-item" id="item-{{id}}">
                <span class="group-name"> {{name}} </span>
                <form class="button-group">
                    <button class="btn btn-outline-primary small" formaction="/groups/{{id}}">Details</button>
                    <button class="btn btn-outline-danger delete-groups small" id="btn-group-{{id}}">Delete</button>
                    <button class="btn btn-outline-success edit-groups small" formaction="/groups/edition/{{id}}" >Edit</button>
                </form> 
            </li>
        {{/each}}
    </ul>    
{{/if}}

<hr>

<form action='/groups' method='POST'>
        <h2>Create a group: </h2>
        <label for="groupName">Name: </label><br>
        <input type='text' id='groupName' name='groupName' required><br><br>
        <label for="groupDescription">Description: </label><br>
        <input type='text' id='groupDescription' name='groupDescription'><br><br>
        <input type='submit' value='Add'>
</form>

<script src="/public/client.js"></script>
<script>
     setupGroupDelete()
</script>