<h1>{{header}}</h1>

{{#if gameName}}
	<h3>Search: {{gameName}}</h3>
{{/if}}


{{#if games}}
    {{#each games}}
        <table>
            <tr>
                <td>Name:</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Url:</td>
                <td><a href={{url}} target="_blank">Board Game Atlas' page</a></td>
            </tr>
            <tr>
                <td>Rank:</td>
                <td>{{borga_rank}}</td>
            </tr>
            <tr>
                <td>Price:</td>
                <td>{{price}} $</td>
            </tr>
            
             <tr>
                 <td>
                    <form>
                        <input type='submit' formaction="/games/{{id}}" value='Details'>
                    </form> 
                </td>
                <td> 
                    <form action='/group-select' method='POST'>
                        <input type='hidden' name='gameID' value='{{id}}'>
                        <input type='submit' value='Save'>
                    </form>
                </td>
            </tr> 
        </table>
        <hr>
    {{/each}}
{{/if}}

